
.photograph-profile, .title {
    margin-bottom: 1.7em;
}

.arrow-back {
    filter: invert(100%);
    width: 1em;
  }

  .switch, .open-modal-btn {
    margin-bottom: 1em;
}

.trip {
    margin-bottom: 1.8em;
}

.open-modal-btn {
    font-size: 1em;
    width: 12em;
    height: 2em;
    display: flex; 
    align-items: center; 
    justify-content: center;
}