<section id="login" class="container m-2">
    <div>
        <h5>Iniciar Sesión</h5>
        <!-- <p>Introduce tu nro móvil</p> -->
        <!-- <label aria-placeholder="09 1234 5678" id="movile-number"></label> -->
        <div class="m-3">
            <label for="movileNumber">Introduce tu nro móvil</label>
            <input type="text" #movileNumber class="form-control" placeholder="09 1234 5678" />
        </div>
        <div class="m-3">
            <button routerLink="/profile" routerLinkActive="active">Siguiente</button>

            <button routerLink="/register" routerLinkActive="active">Registro con e-mail</button>
        </div>
    </div>
</section>