<div class="col-sm-12 col-md-12 bg-dark text-light title">
    <h1> <img class="arrow-back" src="../assets/img-profile/arrow-back.png" routerLink="/main" routerLinkActive="active" alt="atrás"> {{title}}
    </h1>
</div>

<div class="container">
    <div class="favorites">
        <h6>Favoritos</h6>
        <h6>Añadir casa</h6>
        <h6>Añadir trabajo</h6>

        <a routerLink="/setting">Más lugares guardados</a>
    </div>

    <div class="line"></div>

    <div class="preferences">
        <h6 routerLink="/preferences">Preferencias</h6>
        <p>Elije en qué condiciones quieres que se realice tu viaje.</p>
    </div>

    <div class="line"></div>

    <div class="contacts">
        <h6>Contactos de confianza</h6>
        <h6>Gestiona tus contactos de confianza</h6>
        <p>Los contactos de confianza te permiten compartir fácilmente el estdo de tu viaje con familiares y amigos.</p>
    </div>

    <div class="line"></div>

    <div class="Family">
        <h6>Familiar</h6>
        <a href="">Configura tus contactos familiares</a>
        <p>Paga los viajes de tus seres queridos y recibir notificaciones de los trayectos.</p>
    </div>

    <div class="line"></div>

    <div class="Privacy">
        <h6>Configuración de privacidad</h6>
        <p>Administra los datos que compartes con nosotros</p>
    </div>

    <div class="line"></div>

    <div class="security">
        <h6>Seguridad</h6>
        <p>Controla la seguridad de tu cuenta con la verificación en 2 pasos.</p>
    </div>
</div>