.title, .photograph-profile, .trip{
    text-align: center;
}

.gmail, .facebook {
    width: 3em;
    height: 3em;
}

.name-gmail, .celphone-o, .email-facebook, .pass {
    margin-bottom: .8em;
}

.line {
    border: .1em solid black;
    width: 82.5%;
}

@media (max-width: 400px) { 
    .gmail, .facebook {
        width: 2em;
        height: 2em;
    }
}