<div class="container">

  <div class="col-md-4 offset-md-4 title">
    <h1>{{title}}</h1>
  </div>

  <div class="col-md-4 offset-md-4 photograph-profile">
    <img src="../assets/img-profile/photograph-profile.png" alt="Photo">
  </div>

  <section class="row social-networks">
    <div class="col-md-4 offset-md-4">
      <h3>conecta tu cuenta con:</h3>
    </div>
    <img src="../assets/img-profile/gmail-conect.png" alt="logo de gmail">
    <img src="../assets/img-profile/facebook-conect.png" alt="logo de facebook">
  </section>

  <section class="row">
    <h3>Personal</h3>
    <input class="form-control" type="text" placeholder="Nombre deusuario">
    <input class="form-control" type="text" placeholder="Número celular">
    <input class="form-control" type="email" placeholder="Correo">
  </section>

  <section class="row">
    <h3>Preferencias</h3>

    <!-- form check -->
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="air-conditioning">
      <label class="form-check-label" for="air-conditioning">
        Aire acondicionado
      </label>
    </div>

    <div class="row btn-group btn-group-toggle" ngbRadioGroup name="radioBasic">
      <label class="driver-gender">
        <input type="radio" value="female"> Mujer
      </label>
      <label class="driver-gender">
        <input type="radio" value="male"> Hombre
      </label>
      <label class="driver-gender">
        <input type="radio" value="no-matter"> No me importa
      </label>
    </div>

    <div class="custom-control custom-radio">
      <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
      <label class="custom-control-label" for="customRadio1">Toggle this custom radio</label>
    </div>
    <div class="custom-control custom-radio">
      <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
      <label class="custom-control-label" for="customRadio2">Or toggle this other custom radio</label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="conversation">
      <label class="form-check-label" for="conversation">
        Conversación
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="road-route">
      <label class="form-check-label" for="road-route">
        Ruta por carretera
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="route-summary">
      <label class="form-check-label" for="route-summary">
        Resivir resumen del viaje a mi correo
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="special-assistance">
      <label class="form-check-label" for="special-assistance">
        Asistencia especial
      </label>
    </div>

    <!-- form switch -->
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="air-conditioning">
      <label class="custom-control-label" for="air-conditioning">Aire acondicionado</label>
    </div>

    <div class="row btn-group btn-group-toggle" ngbRadioGroup name="radioBasic">
      <label class="driver-gender">
        <input type="radio" value="female"> Mujer
      </label>
      <label class="driver-gender">
        <input type="radio" value="male"> Hombre
      </label>
      <label class="driver-gender">
        <input type="radio" value="no-matter"> No me importa
      </label>
    </div>

    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="conversation">
      <label class="custom-control-label" for="conversation">Conversación</label>
    </div>
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="road-route">
      <label class="custom-control-label" for="road-route">Ruta por carretera</label>
    </div>
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="route-summary">
      <label class="custom-control-label" for="route-summary">Resivir resumen del viaje a mi correo
      </label>
    </div>
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="special-assistance">
      <label class="custom-control-label" for="special-assistance">Asistencia especial</label>
    </div>

  </section>

  <h6 class="text-danger">Eliminar cuenta</h6>
</div>