.arrow-back {
    filter: invert(100%);
    width: 1em;
  }
  
  .photograph-profile, .trip{
      text-align: center;
  }
  
  title {
      margin-bottom: 1.7em;
  }
  
  .gmail, .facebook {
      width: 3em;
      height: 3em;
  }
  
  .name, .celphone, .email, .pass {
      margin-bottom: .8em;
  }
  
  .line {
      border: .1em solid black;
      width: 82.5%;
      margin-top: 2em;
      margin-bottom: 2em;
  }
  
  .logout, .delete-acount {
      margin-bottom: 2em;
  }
  